body {
        background: url(gravel.jpg) no-repeat center center fixed;
        background-size: cover;
        height: 100%;
        margin: 0;
        padding: 0;
    }

h1 {
    background-color: #4aaaa5;
}




