body {
        background: url(gravel.jpg) no-repeat center center fixed;
        background-size: cover;
        height: 100%;
        margin: 0;
        padding: 0;
    }

.container {
    background-color: white;
    margin-top: 50px;
}

h1 {
    margin: 10px 0 0 15px;
    padding: 10px;
    background-color: aqua;
}
    
div.card-body {
    padding: 0;
    border: none;
}

div.card {
    border: none;
}

.btn {
    position: relative;
    bottom: 50px;
    width: 100%;
    background-color: aqua;
}